name: Test for CI/CD

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: macos-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build
        run: |
          set -o pipefail
          xcodebuild build \
            -scheme CD \
            -destination 'platform=iOS Simulator,name=iPhone 16' \
            -quiet \
            
      - name: Test
        run: |
          set -o pipefail
          xcodebuild test \
            -scheme CD \
            -destination 'platform=iOS Simulator,name=iPhone 16' \
            -quiet
